@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

:root{
	--color-primary:#372FFF;
	--color-secondary:#FA4B6A;
	--button-padding:16px 24px;
}

body{
    font-family: 'Lato', sans-serif;
}

.container{
	width:90%;
	margin: 0 auto;
	overflow:hidden;
	padding:80px 0;
	max-width:1200px;
}

.subtitle{
	color:#333333;
	font-size: 48px;
	margin-bottom:35px;
}

.hero{
	height: 50vh;
	background: rgb(0,0,0);
	background-image:linear-gradient(355deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.31974796754639356) 100%),url(/img/Header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed;
	background-position: center;
	position:relative;
	height:fit-content;
    width: 1920px;
}





/*lineas divisoras*/
.shine {
	height: 5px;
	width: 60%;
	background-image: radial-gradient(
	  farthest-side at 50% -50%,
	  hsla(0, 0%, 0%, 0.5),
	  hsla(0, 0%, 0%, 0));
	position: relative; 
  }
  
  .shine::before {
	height: 1px;
	position: absolute;
	top: -1px;
	left: 0;
	right: 0;
	background-image: linear-gradient(
	  90deg,
	  hsla(0, 0%, 0%, 0),
	  hsla(0, 0%, 0%, 0.75) 50%,
	  hsla(0, 0%, 0%, 0));
  }
/*lineas divisoras*/


.hero .container{
	padding:0;
	background-color: linear-gradient(to bottom, #333333 60%, #333333 0%);
}
.hero_texts{
	width: 600px;
	height: 400px;
}
.hero_title{
	padding-left: 50px;
	padding-top: 80px;
	padding-bottom: 80px;
}
.nav{
	display:flex;
	background-color: #333333;
	justify-content: flex-end;
	height:70px;
	align-items: center;
	font-weight: 700;
    text-transform: uppercase;
}

.nav_footer{
	font-weight: 400;
	justify-content: flex-start;
}

.nav_item{
	color:#ffffff;
	text-decoration: none;
	margin-left: 20px;
	padding: 10px 15px;
	font-weight: inherit;
}


.nav_item--cta{
	background-color: var(--color-secondary);
	border: 1px solid #FA4B6A;
	border-radius: 20px;
}
.publica{
	background-color: var(--color-secondary);
	border: 1px solid #FA4B6A;
	border-radius: 20px;
}

.nav_item--footer{
	padding:10px;
}

	
.hero_container{
	display:flex;
	height:calc(50vh -70px);
	align-items: center;
	color:#ffffff;	
}

img.trabajo{
	width: 250px; height: 250px;
}

.category_grid{
	padding-bottom: 150px;
}
div.botones{
	width: 300px; /*Revisar todo esto para dar forma a esos cuadros*/
	height: 250px;/*Revisar todo esto para dar forma a esos cuadros*/
	padding-top: 50px; /*Revisar todo esto para dar forma a esos cuadros*/
	padding-left: 0px; /*Revisar todo esto para dar forma a esos cuadros*/
	padding-right: 0px; /*Revisar todo esto para dar forma a esos cuadros*/
	float: left;
	margin-right:0px;
	text-align: center;
}

.separar{
	padding-bottom: 100px;
}

.boton_personalizado{
    color:#ffffff;
	text-decoration: none;
	margin-left: 20px;
	padding: 10px 15px;
	font-weight: inherit;
	background-color: var(--color-secondary);
	border: 1px solid #FA4B6A;
	border-radius: 20px;

  }
  .boton_personalizado:hover{
    color: #1883ba;
    background-color: #ffffff;
  }

.botonesimportantes{
	color:#ffffff;
	text-decoration: none;
	margin-left: 20px;
	padding: 10px 15px;
	font-weight: inherit;
	background-color: var(--color-secondary);
	border: 1px solid #FA4B6A;
	border-radius: 20px;
}

a.category_cta{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.how_to_do_it{
	padding-bottom: 100px;
}
div.creaperfil{
	float: left;
	margin-left:10px;
	width: 200px;
	height: 100px;
	padding-top: 50px;
	padding-left: 80px;
	padding-right: 50px;
}

div.cargatarifa{
	width: 200px;
	height: 100px;
	padding-top: 50px;
	padding-left: 140px;
	padding-right: 50px;
	float: left;
	margin-left:10px;
	
}
div.aceptatrabaja{
	width: 200px; /*Revisar todo esto para dar forma a esos cuadros*/
	height: 100px;/*Revisar todo esto para dar forma a esos cuadros*/
	padding-top: 50px; /*Revisar todo esto para dar forma a esos cuadros*/
	padding-left: 150px; /*Revisar todo esto para dar forma a esos cuadros*/
	padding-right: 50px; /*Revisar todo esto para dar forma a esos cuadros*/
	float: left;
	margin-right:10px;

}

h4.como{
	text-align: center;
}
img.imagencomo{
	display:block;
    margin:auto;
}
p.pasos{
	text-align: center;
	margin-right: auto;
}

h3.publish_text{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 100px;
}

div.testimony1{
	float: left;
	margin-left:-80px;
	width: 300px;
	height: 150px;
	padding-top: 50px;
	padding-left: 80px;
	padding-right: 50px;
	text-align: center;
}

div.testimony2{
	width: 300px;
	height: 150px;
	padding-top: 50px;
	padding-left: 100px;
	padding-right: 20px;
	float: left;
	margin-left:10px;
	text-align: center;
}

div.testimony3{
	width: 300px; /*Revisar todo esto para dar forma a esos cuadros*/
	height: 150px;/*Revisar todo esto para dar forma a esos cuadros*/
	padding-top: 50px; /*Revisar todo esto para dar forma a esos cuadros*/
	padding-left: 50px; /*Revisar todo esto para dar forma a esos cuadros*/
	padding-right: 50px; /*Revisar todo esto para dar forma a esos cuadros*/
	float: left;
	margin-right:0px;
	text-align: center;
}



/*Esto fue agregado para pag Category--Front*/

.hero_cat{
	height: 50vh;
	background: rgb(0,0,0);
	background-image:linear-gradient(355deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.31974796754639356) 100%),url(/img/HeroCat.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed;
	background-position: center;
	position:relative;
	height:calc(50vh -20px);
	align-items: center;
	color:#ffffff;
}

.hero_cat .container{
	padding:0;
}

.logo{
	align-items:left;
	height:30px;
	text-align: left;
}

.nav_item--clicked{
	color: var(--color-primary);	
}

.container-menu_categorias{
	align-items: center;
	width:50%;
	margin: 80px auto;
	height: 200px;
	background-color:#ffffff;
	border-radius:20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	}

div.item-menu-cat{
	float: left;
	padding:30px 60px 0;
	width: 100px;
	height: auto;
	text-align: center;
	
}

a.item-menu-cat{
	text-decoration: none;
	text-align: center;
	color:#333333;
	font-size: 18px;
	line-height: 12px;
	margin-bottom:35px;
}

h4.profesion{
	text-decoration: none;
	text-align: center;
	color:#333333;
	font-size: 18px;
	line-height: 12px;
	
}

.container-carrusel{
	width:80%;
	margin: 10px auto;
	align-items: center;
	text-decoration:none;
}

.subtitle-carrusel{
	text-decoration: none;
	text-align: left;
	color:#333333;
	font-size: 32px;
	line-height: 36px;	
}

.empleados-container{
	background:transparent;
	display:flex;
	justify-content: center;
	align-items: center;
	width:100%;
	height:92vh;
}

.empleados-wrapper{
	width:450px;
	height:500px;
	background:transparent;
	margin:auto;
	position:relative;
	overflow:hidden;
	border-radius: 10px;
	transform:scale(0.93);
	transition: box-shadow 0.5s, transform 0.5s;
	z-index: 500;
	text-decoration:none;
}

.empleados-wrapper:hover{
	transform:scale(1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	height:500px;
} 

.empleados-container .empleados-wrapper{
	width:100%;
	height:auto;

}

 .empleados-container .empleados-wrapper .top{
	width:100%;
	height:80%;
	background-size: 100%;
}

.empleados-container .empleados-wrapper .bottom{
	width:100%;
	height:20%;
	transition: transform 0.5s;
}

.empleados-container .empleados-wrapper .bottom .left{
	width:100%;
	height:100%;
	background:#ffffff;
	position:relative;
	float:left;
}

.empleados-container .empleados-wrapper  .bottom .left .details{
	padding-left:20px;
	float:left;
	width:calc(70%-40px);
	
}

.empleados-container .empleados-wrapper  .bottom .left .details .txt_empleados{
	font-size:21px;
	color:#333333;
}

.empleados-container .empleados-wrapper  .bottom .left .details .parrafo_empleados{
	font-size:14px;
	color:#333333;
}
.empleados-container .empleados-wrapper .bottom .left .contact{
	float:right;
	height:100%;
	background:#f1f1f1;
	transition:background 0.5s;
	border-left: solid thin rgba(51,51,51,0.1);
}

.empleados-container .empleados-wrapper .bottom .left .contact i{
	font-size: 24px;
	padding:30px;
	color: var(--color-primary);
	transition:transform 0.5s;
}

.empleados-container .empleados-wrapper .bottom .left .contact:hover i{
	transform:rotate(360deg);
}

