<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AltoJobs</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/estilos.css" />

  </head>
  
  <body>
    <header class="hero_cat">
      <div class="container">
        <nav class="nav">

          <a href="/" class="nav_item--logo"><img class="logo" src="/img/Logo_Blanco.svg" alt="AltoJobs"/></a>
          <a href="/" class="nav_item">Home</a>
        <a href="/categoriass" class="nav_item nav_item--clicked">Categorías</a>
          <a href="/ofertas_laborales" class="nav_item">Ofertas laborales</a>
          <a href="/iniciar_sesion" class="nav_item nav_item--cta">Iniciar sesión</a>
        </nav>
      </div>
    </header>
   
    <main>
    
     <section class="container menu_categorias">
        <div style="align-content: center;" >
        
         <a href="#">
         <div class="item-menu-cat">
            <img class="item-menu--cat" src="/img/elec_icono.svg" alt="Electricistas" />
           <h4 class="profesion">Electricistas</h4>
          </div>
          </a>
          
          <a href="#">
          <div class="item-menu-cat">
            <img class="item-menu--ca" src="/img/plom_icono" alt="Plomeros" />
            <h4 class="profesion">Plomeros</h4>
          </div>
          </a>
          
          <a href="#">
          <div class="item-menu-cat">
            <img class="item-menu--ca" src="/img/jard_icono" alt="Jardineros" />
            <h4 class="profesion">Jardineros</h4>
          </div>
          </a>
          
          	<a href="#">
           <div class="item-menu-cat"> 
            <img class="item-menu--ca" src="/img/gas_icono" alt="Gasistas" />
            <h4 class="profesion">Gasistas</h4>
          </div>
          	</a>
        </div>
      </section>
      
      
      <section class="container category_grid">
        <h2 class="subtitle category">
          ¿Necesitás que alguien haga lo que vos no sabes?
        </h2>
        <h3 class="category_description">
          Revisá la categorías con las que te podemos ayudar
        </h3>
        <img
          class="trabajo"
          src="/img/Gasista.jpg"
          alt="Gasista" HSPACE="20" VSPACE="20"
        />
        <img
          class="trabajo"
          src="/img/Plomero.jpg"
          alt="Plomero" HSPACE="20" VSPACE="20"
        />
        <img
          class="trabajo"
          src="/img/Jardinero.jpg"
          alt="Jardinero" HSPACE="20" VSPACE="20"
        />
        <img
          class="trabajo"
          src="/img/Electricista.jpg"
          alt="Electricista" HSPACE="20" VSPACE="20"
        />
         <a href="#" class="category_cta">Ver todas las categorías ></a>
        </section>
    </main>
    

    <footer class="footer">
      <div class="container footer_grid">
        <section class="footer_title">
          <h5 class="footer_text">
            Copyright © 2021 AltoJobs - Todos los derechos reservados
          </h5>
        </section>
        <nav class="nav_footer">
          <a href="/" class="nav_item nav_item--footer">Home</a>
          <a href="/categoriass" class="nav_item nav_item--footer">Categorías</a>
          <a href="#" class="nav_item nav_item--footer">Ofertas laborales</a>
          <a href="#" class="nav_item nav_item--footer">Publicá una oferta</a>
          <a href="#" class="nav_item nav_item--footer">Inicia sesión</a>
          <a href="#" class="nav_item nav_item--footer">Regístrate</a>
          <a href="#" class="nav_item nav_item--footer">Contacto</a>
          <span class="footer_icons">
            <a class="fab fa-linkedin" href="#"></a>
          </span>
        </nav>
      </div>
    </footer>

    <script
      src="https://kit.fontawesome.com/fc0febdd06.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>