<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/estilos.css" />
</head>
<body>
    <div class="container">
        <h1>Editar Perfil</h1>
          <hr>
        <div class="row">
          <div class="edit-photo">
            <div class="text-center">
              <img src="" class="Photo" alt="avatar">
              <h6>Cambiar foto de perfil</h6>
              <input type="file" class="input-photo">
            </div>
          </div>
          <div class="personal-info">
            <h3>Información personal</h3>
            
            <form class="form" role="form">
              <div class="form-grupo">
                <label class="form-datos">Nombre</label>
                <div class="input">
                  <input class="form-control" type="text" value="">
                </div>
              </div>
              <div class="form-grupo">
                <label class="form-datos">Apellido</label>
                <div class="input">
                  <input class="form-control" type="text" value="">
                </div>
              </div>
              <div class="form-grupo">
                <label class="form-datos">Documento de identidad</label>
                <div class="input">
                  <input class="form-control" type="text" value="">
                </div>
              </div>
              <div class="form-grupo">
                <label class="form-datos">Oficio</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" value="">
                </div>
              </div>
              <div class="form-grupo">
                <label class="form-datos">Email:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" value="">
                </div>
              </div>
              <div class="form-grupo">
                <label class="form-datos">Dirección</label>
                <div class="input">
                  <input class="form-control" type="text" value="">
                </div>
              </div>
              <div class="form-group">
                <label class="form-datos" >Sobre mi...</label>
                <textarea class="textarea" rows="5" placeholder="Sobre mi..."></textarea>
              </div>
              <div class="form-group">
                <label class="form-datos">Contraseña</label>
                <div class="input">
                  <input class="form-control" type="password" value="">
                </div>
              </div>
              <div class="form-group">
                <label class="guardar-cancelar"></label>
                <div class="input">
                  <input type="button" class="guardar-cambios" value="Guardar cambios">
                  <span></span>
                  <input type="reset" class="cancelar" value="Cancelar">
                </div>
              </div>
            </form>
          </div>
      </div>
    </div>
    <hr>
</body>
</html>