<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AltoJobs</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    <header class="header">
    <div class="container">
        <nav class="nav">
            <a href="#" class=" nav_item nav_item--cta"></a>
            <a href="#" class=" nav_item nav_item--cta">Home</a>
            <a href="#" class=" nav_item nav_item--cta">Categorías</a>
            <a href="#" class=" nav_item nav_item--cta">Ofertas laborales</a>
            <a href="#" class=" nav_item nav_item--cta">Iniciar sesión</a>
        </nav>
        <section class="header_container">
            <div class="header_texts">
                <h1 class="header_title">Encontrá laburo en minutos</h1>
                <a href="#" class="header_cta">regístrate como empleado</a>
                <a href="#" class="header_cta2">publicá una oferta laboral</a>
            </div>
        </section>
    </div>
    </header>

    <main>
        <section class="presentation_container">
            <img src="src/main/resources/images/Gasista.jpg" alt="Gasista">

        </section>
    </main>

    <a class="fab fa-linkedin" href="#"></a>
    


    <script src="https://kit.fontawesome.com/fc0febdd06.js" crossorigin="anonymous"></script>
</body>
</html>